*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body   {
    background-color: #f5f7fa ;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    }

.wrapper {
    background-color: #ffffff;
    display: flex;
    max-width: 320px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);

.hashtag{
    font-size: 12px;
}
.form-register{

}
.form-comment{
    font-size: 18px;
}
.form-comment label{
    margin: 10px 10 px;
}
.form-comment input{
    border-radius: 15px;
    padding: 15px;
    height: 50px;
    width: 250px;
}

.form-comment textarea{
    border-radius: 15px;
    padding: 15px;
    height: 150px;
    width: 100%;
    resize: vertical;
}
.form-comment div{
    margin: 10px;
}
.view-comment{
    padding:10 px;
    margin: 10px;
    font-size: 18px;
    border-radius: 15px;
}