*{
    margin: 0;
    padding: 0;
}
aside{
    float: left;
    /*position: fixed; /* изменяем позиционирование */
    position: -webkit-sticky; /* для Safari и iOS */
    position: sticky;
    top: 0; /* прикрепляем к верху экрана */
    background: #2c2c2c;
    width: 22%;
    padding: 2.5%;
    height: 90hv;
    color: #fff;
    border-right: 1px solid silver;
}
/*#aside {
    width: 20%;
    height: 100%;
    padding: 20px 2.5%;
    background: #fafafa;
    border: 1px solid silver;
}*/
header {
    width: 100%;
    height: 70px;
    border-bottom: 4px solid silver;
    background: #333;
    color: #fff;
    justify-content: center;
    align-items: center;
}

#header .foto {
    width: 200px;
    height: 70px;
    margin-right: 20px;
}

footer{
    width: 100%;
    height: 50px;
    text-align: center;
    border-top: 4px solid silver;
    background: #333;
    color: #fff;
    justify-content: center;
    align-items: center;

    /*line-height: 50px;
    margin-bottom: 0px;
    */
}
/*main{
    background: #fafafa;
    border: 1px solid silver;
    padding 20px;

}*/
main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%
}
main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin:20px auto}

.navi{
    background-color: #E0EBFE;
}
}
.form-register{

}
.form-comment{
    font-size: 18px;
}
.form-comment label{
    margin: 10px 10 px;
}
.form-comment input{
    border-radius: 15px;
    padding: 15px;
    height: 50px;
    width: 250px;
}

.form-comment textarea{
    border-radius: 15px;
    padding: 15px;
    height: 150px;
    width: 70%;
    resize: vertical;
}
.form-comment div{
    margin: 10px;
}
.view-comment{
    padding:10 px;
    margin: 10px;
    font-size: 18px;
    border-radius: 15px;
}