
.hashtag{

}
.form-comment{
    font-size: 18px;
}
.form-comment label{
    margin: 10px 10 px;
}
.form-comment input{
    border-radius: 15px;
    padding: 15px;
    height: 50px;
    width: 250px;
}

.form-comment textarea{
    border-radius: 15px;
    padding: 15px;
    height: 150px;
    width: 100%;
    resize: vertical;
}
.form-comment div{
    margin: 10px;
}
.view-comment{
    padding:10 px;
    margin: 10px;
    font-size: 18px;
    border-radius: 15px;
}