*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
header {
    width: 100%;
    height: 70px;
    border-bottom: 4px solid silver;
    background:  #2c2c2c;
    color: #fff;
}
.sort{
    padding: 20 0 20 10px;
}
.description{
    border-radius: 15px;
    padding: 15px;
    height: 150px;
    width: 70%;
    resize: vertical;
}
aside{
    background: #333;
    width: 22%;
    padding: 2.5%;
    color: #fff;
    border-right: 1px solid silver;
}
main{
    padding: 70px;
}
footer{
    width: 100%;
    height: 50px;
    text-align: center;
    border-top: 4px solid silver;
    background: #333;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.navi{
    background-color: #E0EBFE;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.form-comment{
    font-size: 18px;
}
.form-comment label{
    margin: 10px 10 px;
}
.form-comment input{
    border-radius: 15px;
    padding: 15px;
    height: 50px;
    width: 250px;
}
.form-comment textarea{
    border-radius: 15px;
    padding: 15px;
    height: 150px;
    width: 70%;
    resize: vertical;
}
.form-comment div{
    margin: 10px;
}
.view-comment{
    padding:10 px;
    margin: 10px;
    font-size: 18px;
    border-radius: 15px;
}