
body {

    margin: 0;
}
.navigation{
    background-color: #E0EBFE;
}

.container {
    display: flex;
    background-color: #ffffff;
    max-width: 100%;

}
.main {
    display: flex;
    background-color: #E0EBFE;
    width: 100%;
    min-height: 1px;
}
.aside {

    width: 100%;
    min-height: 1px;
}
.form-register{
    border-radius: 15px;
}
.form-comment{
    font-size: 18px;
}
.form-comment label{
    margin: 10px 10 px;
}
.form-comment input{
    border-radius: 15px;
    padding: 15px;
    height: 50px;
    width: 250px;
}

.form-comment textarea{
    border-radius: 15px;
    padding: 15px;
    height: 150px;
    width: 100%;
    resize: vertical;
}
.form-comment div{
    margin: 10px;
}
.view-comment{
    padding:10 px;
    margin: 10px;
    font-size: 18px;
    border-radius: 15px;
}