{% extends 'journey/base.html' %}
{% load static %}
{% block title %}Addpost{% endblock %}


{% block content %}

<h1>{{ autor }}</h1>

<div class="form-register">
    <h3>Залишити повідомлення</h3>

<form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <span>{{ error }}</span>
          <button class="btn btn-info" type="submit">Готово</button>
</form>
{% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj}}</h3>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:400px">
{% endif %}

</div>


{% endblock%}