{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="./static/css/style.css">
    <title>Title</title>
</head>
<body>
<div id="navigation">
			<ul>
			    <li><a href="/" class="active">Головна</a></li>


				{% if user.is_authenticated %}
			    <li><a href="/admin/">Адмін панель</a></li>
				{% else %}
    			<li><a href="/admin/logout/">Увійти</a></li>
				{% endif %}



			</ul>
</div>

{% block content %}

{% endblock %}
<div class="hashtag">
	<p>
	<span>#Шукаю попутника #Ищу попутчика</span>
	</p>
</div>
</body>
</html>