{% extends 'journey/base.html' %}
{% load static %}


{% block content %}



<h3>Hellow</h3>
<div>
    <h2>{{post.autor}}  {{post.age}}</h2>
</div>



<div class="image">
    <p align="center">
        <img src="{{ post.image.url }}" width="400px"/>
    </p>
</div>
<div>
<br>
    {{post.title}}
</div>
<br>
Міце зустрічі: {{post.place}}
<br>
{{post.descriptions}}
<br>
Тел: {{post.phone}}
<br>
Емайл: {{post.mail}}
<br>
{{post.date}}
<br>
			</div>
			<div class="form-comment">
				<h3>Залишити коментар</h3>
				<div>
					<form action="{% url 'add_comments' post.id %}" method="post">
						{% csrf_token %}
						<div>
							<label>Ваш коментар</label>
							<textarea name="text_comments" id="" cols="30" rows="10"></textarea><! -- id="" cols="30" rows="10" -->
						</div>
						<div>
							<label>Ваше імя</label>
							<input type="text" name="name">
						</div>
						<div>
							<label>Ваш емайл</label>
							<input type="email" name="email">
						</div>
						<div>
							<input type="submit">
						</div>

					</form>
				</div>

			</div>
			<div>
				{% for comment in post.comments_set.all %}
				<div class="view-comment">
					 <h4>{{ comment.name }}</h4>
					<p>
						{{ comment.text_comments }}
					</p>
					<div> <span class="contact" ></span> <a class="color" e href="mailto:{{ comment.email }}">{{ comment.email }}</a> </div>


				</div>
				{% endfor %}
			</div>

{% endblock %}