{% extends 'journey/base.html' %}
{% load static %}

{% block content %}

<h1>Шукаю попутника</h1>

{% for post in posts %}

<div>
    <h2><span>{{post.autor}} {{post.age}}</span></h2>
</div>

<div class="image">
    <img src="{{ post.image }}" width="200px"/>
</div>
<div>
Міце зустрічі: {{post.place}}
</div>

<div>
    <h4><a href="{{ post.id }}">{{ post.title }}</a></h4>
</div>
<br>
{{post.description}}
<!--<br>-->
<!--Тел: {{post.phone}}-->
<!--<br>-->
<!--Емайл: {{post.mail}}-->
<br>
{{post.date}}

{% endfor %}
{% endblock %}